body {
  background-color: #A799B7;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  padding-top:2em;
  }

  h1 {
    text-align: center;
    color: #00171F;
    font-weight: bold;
  }

  nav {
    position: fixed;
    width:  100%;
    top: 0;
    right: 0;
  }