body {
  background-color: #c7c3be;
  background-image: url('/static/img/kurt-cotoaga-cqbLg3lZEpk-unsplash.jpg');
  background-size: cover;
  background-position: 0px 25rem;
  background-repeat: no-repeat;
  font-family: sans-serif;
  }

h1 {
  text-align: center;
  color: #383038;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #383038;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cta-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button.cta-button {
  background-color: #e0dcd4;
  font-size: 18px;
  border-radius: 4em;
  border: 0;
  border-bottom: #373232 solid 2px;
  padding: 15px;
}

/* shadow effect when hovering over button */
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.background-container {
  background-color: #c7c3be;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0.85;
}

  /* unvisited link */
a:link {
  text-decoration: none;
  color: #483C47;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: #900020;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: #383038;
}

/* selected link */
a:active {
  text-decoration: none;
  color: #900020;
}