{% extends 'base.html' %}

{% block title %} {{ climber.name }}'s Climber Profile{% endblock %}

{% block body %}


<main>
    <div class="opaque-background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
  
                    <div class="wrapper-header">
                        <header>
                            <nav>
                                <ul class="list-unstyled">
                                <li class="nav-li"><a href="/">Home</a></li>
                                <li class="nav-li"><a href="/logout">Log out</a></li>
                                <li class="nav-li"><a href="/routes">View Routes</a></li>
                                </li>
                                </ul>
                            </nav>       
                        </header>
                    </div>

                    <div class="background-container">
                        <h1>Climbing Profile</h1>

                        <p>
                            <h2>Name:</h2>
                            {{ climber.name }}
                        </p>

                        <p>
                            <h2>Location:</h2> 
                            {{ climber.location }}
                        </p>

                        <p>
                            <h2>Climbing Goals:</h2>
                            {{ climber.goals }}
                        </p>

                        <p>
                            <h2>Email:</h2>
                            {{ climber.email }}
                        </p>

                        <p>
                            <h2>Routes you've reviewed:</h2>  
                            {% for review in climber_reviews %}
                            <div>{{ review }}</div>
                            {% endfor %}
                        </p>

                        <p>
                            <h2>Routes you've rated:</h2>
                            {% for rating in climber_ratings %}
                            <div>{{ rating }}</div>
                            {% endfor %}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}