{% extends 'base.html' %}
{% block title %}CruxFinder{% endblock %}
{% block head %} 
  <link rel="stylesheet" href="/static/css/map.css"/>
{% endblock %}
{% block body %}
  <h1>CruxFinder</h1>
{% if session.get('climber_email') %}
  <nav>
    <li><a href="/routes">View all routes</a></li>
    <li><a href="/climber_profile/{{ session['climber_id'] }}">Go to your profile</a></li>
    <li><a href="/logout">Log out</a></li>
  </nav>
{% else %}
  <nav id="nav-bar">
    <li><a href="/routes">View all routes</a></li>
    <li><a href="/login">Log In or Create a Profile</a></li>
  </nav>
{% endif %}

<section class="map">
  <div id="map"></div>
</section>

<script src="/static/js/map.js"></script>
<script
  async 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGLO3CZrkwkRiZzbPBBj-bC6Gyu75EtDE&callback=initMap">
</script>

{% endblock %}