{% extends 'base.html' %}

{% block title %}CruxFinder{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<main>
  <div class="opaque-background">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <div class="wrapper-header">
              <header>
                {% if session.get('climber_email') %}
                  <nav>
                    <ul class="nav-ul">
                      <li class="nav-li"><a href="/climber_profile/{{ session['climber_id'] }}">Go to your profile</a></li>
                      <li class="nav-li"><a href="/logout">Log out</a></li>
                    </ul>
                  </nav>
                {% else %}
                  <nav>
                    <ul class="nav-ul">
                      <li class="nav-li"><a href="/login">Log In or Create a Profile</a>
                      </li>
                    </ul>
                  </nav>
                {% endif %}            
              </header>
            </div>

          <div class="cta-block">
            <h1>CruxFinder</h1>
            <h2>Plan your next ascent.</h2>
            <p class="description">
              Blurb about what CruxFinder does:  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi similique atque nam ullam! Rerum deserunt reiciendis consequatur ipsam eligendi aspernatur esse. Mollitia officia commodi excepturi, numquam veniam in soluta quo?
            </p>
            <button class="cta-button"><a href="/routes">View all routes</a>
            </button>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}