{% extends 'base.html' %}

{% block title %} Climber Login {% endblock %}

{% block body %}
<div class="container-fluid">
<nav>
  <a href="/">Homepage</a>
  <a href="/routes">Go back to all routes</a>
</nav>

<h1>Create an Account</h1>
<form action="/climbers" method="POST">

  <p>
    Name <input type="text" required="required" name="name">
  </p>

  <p>
    Location <input type="text" name="location">
  </p>

  <p>
    Climbing Goals <input type="text" name="goals">
  </p>
  
  <p>
    Email <input type="text" required="required" name="email">
  </p>

  <p>
    Password <input type="password" required="required" name="password">
  </p>

  <p>
    <input type="submit">
  </p>
</form>

<h1>Already registered? Log In Here</h1>
<form action="/climber_login" method="POST">
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
    <input type="submit">
  </p>
</form>
<br>
</div>
{% endblock %}