{% extends 'base.html' %}

{% block title %}{{ route.route }} - Details{% endblock %}

{% block body %}
<nav>
  <a href="/routes">Go back to all routes</a>
</nav>

<div>
<h1>{{ route.route }}</h1>
<br>
<img src="{{ route.picture_path }}" width="200" height="300" alt="" />
<br>
<p>
  Yosemite Decimal System Grade: {{ route.grade }}
</p>
<p>
  Latitude: {{ route.latitude }} Longitude: {{ route.longitude }}
</p>
<p>
  Average Star Rating:  {{ average_rating }}
</p>
<p>
  This route has been rated {{ total_ratings }} time(s).
</p>
</div>
<div>
{% if session.get('climber_email') %}
  {% if check_ratings %}
  You have already rated this climb. Would you like to update your rating? <button class="edit-climbing-route-rating"> Edit rating </button>
  {% else %}
  <h2>Rate this climb:</h2>
  <form action="/routes/{{ route.route_id }}/ratings" method="POST">
    <p>
      Rating: 
      <select name="rating" required>
        <option value="">Select number of stars</option>
        {% for num in range(6) %}
          <option value ="{{ num }}">{{num}}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      <button type="submit">Submit Rating</button>
    </p>
  </form>
  {% endif %}
{% endif %}
</div>

<div>
{% if session.get('climber_email') %}
  {% if check_reviews %}
  You have already written a review for this climbing route. Would you like to add an update?
  {% else %}
<h2>Review this climb:</h2>
<form action="/routes/{{ route.route_id }}/reviews" method="POST">
  <label for="date">Date you climbed the route:</label>
  <br>
  <input type="date" id="date" name="date"> 
  <br>
  <label for="review">Tell us how your climb went:</label>
  <br>
  <textarea id="review" name="review" required="required" rows="4" cols="50"></textarea><br><br>
  <button type="submit">Submit Review</button>
</form>
  {% endif %}
{% endif %}
</div>

<br>
<div>
<h2>Reviews for this Route:</h2>

{% if reviews %}
  {% for name, date, content in reviews %}
  <div>
    climber: {{ name }}, date: {{ date }}, review: {{ content }}
  </div>
  {% endfor %}
{% else %}
  <p>No reviews for this route yet.</p>
{% endif %}
</div>
<br>

<script src="/static/js/updateRatings.js"></script>

{% endblock %}