{% extends 'base.html' %}

{% block title %}{{ route.route }} - Details{% endblock %}

{% block body %}
<h1>{{ route.route }}</h1>

<p>
  Yosemite Decimal System Grade: {{ route.grade }}
</p>

<p>
  Latitude: {{ route.latitude }} Longitude: {{ route.longitude }}
</p>

{% if session.get('climber_email') %}
<h2>Rate this climb!</h2>
<form action="/routes/{{ route.route_id }}/ratings" method="POST">
  <p>
    Rating: 
    <select name="rating">
      <option value="">Select number of stars</option>
      {% for num in range(6) %}
        <option value ="{{ num }}">{{num}}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    <input type="submit">
  </p>
</form>
{% endif %}

{% if session.get('climber_email') %}
<h2>Review this climb!</h2>
<form action="/routes/{{ route.route_id }}/reviews" method="POST">
  <label for="review">Tell us how your climb went:</label>
  <br>
  <textarea id="review" name="review" rows="4" cols="50">
  </textarea> <br><br>
  <button type="submit">Submit</button>
</form>
{% endif %}
<br> 
<br>
<img src="{{ route.picture_path }}">
{% endblock %}